/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
    height: 100vh;
    --accent: oklch(64.8% 0.2 131.684);
    --text-primary: oklch(27.8% 0.033 256.848);
    --text-secondary: oklch(55.1% 0.027 264.364);
    --bg-primary: oklch(96.7% 0.003 264.542);
    --bg-secondary: oklch(92.8% 0.006 264.531);
    --bg-tertiary: oklch(100% 0.003 264.542);
    --divider: oklch(87.2% 0.01 258.338);
    --shadow: 0 4px 16px oklch(from var(--text-secondary) l c h / 20%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --accent: oklch(64.8% 0.2 131.684);
        --text-primary: oklch(86.9% 0.005 56.366);
        --text-secondary: oklch(70.9% 0.01 56.259);
        --bg-primary: oklch(37.1% 0 0);
        --bg-secondary: oklch(26.9% 0 0);
        --bg-tertiary: oklch(20.5% 0 0);
        --divider: var(--bg-secondary);
        --shadow: 0 4px 16px oklch(from var(--text-primary) l c h / 25%);
    }
}

@font-face {
    font-family: 'Atkinson';
    src: url('/fonts/atkinson-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Atkinson';
    src: url('/fonts/atkinson-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: 'Atkinson', sans-serif;
    margin: 0;
    padding: 0;
    text-align: left;
    background: var(--bg-primary);
    background-size: 100% 600px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: var(--text-primary);
    font-size: 20px;
    line-height: 1.5;
}
main {
    flex-grow: 1;
    height: 100%;
    width: 1020px;
    max-width: calc(100% - 4em);
    margin: auto;
    padding: 2em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1.5em 0 0.5rem 0;
    color: var(--text-primary);
    line-height: 1.2;
}
h1 {
    font-size: 3.052em;
}
h2 {
    font-size: 2.441em;
}
h3 {
    font-size: 1.953em;
}
h4 {
    font-size: 1.563em;
}
h5 {
    font-size: 1.25em;
}
strong,
b {
    font-weight: 700;
}
a {
    color: var(--accent);
}
a:hover {
    color: var(--accent);
}
p {
    margin-bottom: 1em;
}
.prose p {
    margin-bottom: 1.5em;
}
textarea {
    width: 100%;
    font-size: 16px;
}
input {
    font-size: 16px;
}
table {
    width: 100%;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
code {
    font-size: calc(100% - 4px);
    padding: 2px 5px;
    background-color: var(--bg-secondary);
    border-radius: 8px;
}
pre {
    margin-top: -0.5em;
    margin-bottom: 2em;
    padding: 1em;
    border-radius: 8px;
}
pre > code {
    all: unset;
    display: block;
    line-height: 1.6;
    font-size: 16px;
}
blockquote {
    border-left: 4px solid var(--accent);
    padding: 0 0 0 20px;
    margin: 0px;
    font-size: 1.333em;
}
hr {
    border: none;
    border-top: 1px solid var(--divider);
}
@media (max-width: 720px) {
    body {
        font-size: 18px;
    }
    main {
        padding: 1em;
    }
}

.sr-only {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
    clip: rect(1px 1px 1px 1px);
    /* maybe deprecated but we need to support legacy browsers */
    clip: rect(1px, 1px, 1px, 1px);
    /* modern browsers, clip-path works inwards from each corner */
    clip-path: inset(50%);
    /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
    white-space: nowrap;
}
